<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.link.jk.jkframework.mapper.SiteMapper">

    <resultMap id="siteFullList" type="com.link.jk.jkframework.dto.SiteDto">
        <result column="SITE_NAME" property="siteName" />
        <result column="SITE_STATE" property="siteState" />
        <result column="SITE_DOMAIN" property="siteDomain" />
        <result column="SITE_CDN" property="siteCdn" />
        <result column="SITE_JK_NM" property="siteJkNm" />
        <result column="SITE_JK" property="siteJk" />
        <result column="SITE_ADMIN_NM" property="siteAdminNm" />
        <result column="SITE_ADMIN" property="siteAdmin" />
        <result column="SITE_MY_PAGE_NM" property="siteMyPageNm" />
        <result column="SITE_MY_PAGE" property="siteMyPage" />
    </resultMap>

    <select id="selectSiteList" resultMap="siteFullList">
        SELECT * FROM tb_site
    </select>

    <update id="updateSite" parameterType="hashmap">
        UPDATE tb_site SET
          SITE_NAME = #{siteName}
        , SITE_STATE = #{siteState}
        , SITE_DOMAIN = #{siteDomain}
        , SITE_CDN = #{siteCdn}
        , SITE_JK_NM = #{siteJkNm}
        , SITE_JK = #{siteJk}
        , SITE_ADMIN_NM = #{siteAdminNm}
        , SITE_ADMIN = #{siteAdmin}
        , SITE_MY_PAGE_NM = #{siteMyPageNm}
        , SITE_MY_PAGE = #{siteMyPage}
    </update>

</mapper>
